{% extends 'layout.html' %}
{% load static %}
{% block head %}
<title>Home - BookStop</title>
{% endblock %}

<body>
    <!-- Start: Navigation with Button -->
    {% block content %}
    <!-- Start: Highlight Phone -->
    <section class="highlight-phone" style="background: rgb(238, 244, 247);padding: 100px 0px 56px;">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <!-- Start: Intro -->
                    <div class="intro">
                        <h2>Welcome</h2>
                        <p>Welcome to you very own digital library. Store and read any e-book you have.</p><a
                            class="btn btn-primary" role="button" href="admin/main/book/add/" style="background: rgb(57,115,200);">Add a
                            book</a>
                    </div><!-- End: Intro -->
                </div>
                <div class="col-sm-4">
                    <div class="d-none d-md-block phone-mockup"><img class="device"
                            src="{% static 'assets/img/logo.png' %}">
                        <div class="screen"
                            style="background: url(&quot;&quot;);">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End: Highlight Phone -->
    <!-- Start: Article List -->
    <section class="article-list" style="background: rgb(238, 244, 247);">
        <div class="container">
            <!-- Start: Intro -->
            <div class="intro">
                <h2 class="text-center">Latest Additions</h2>
                <p class="text-center">Browse through some of the latest releases.</p>
            </div><!-- End: Intro -->
            <!-- Start: Articles -->
            <div class="row text-center justify-content-center articles">
                {% for book in books %}
                {% if forloop.counter < 3 %}
                <div class="col-sm-6 col-md-4 item"><a href="{% url 'book_view' pk=book.id %}"><img class="img-fluid" class="img-thumbnail" style="width: 100%; height:100%; max-width: 480px; max-height: 240px;" src="{{ book.image.url }}"></a>
                    <h3 class="name">{{ book.title }}</h3>
                    <p class="description">{{ book.description }}</p><a
                        class="action" href="#"><i class="fa fa-arrow-circle-right"
                            style="color: var(--bs-blue);border-color: rgb(57,115,200);"></i></a>
                </div>
                {% endif %}
                {% endfor %}
            </div><!-- End: Articles -->
        </div>
    </section><!-- End: Article List -->
    {% endblock %}